.home {
    &__title {
        margin-top: 0.8rem;
        font-size: $font-size-base;
        font-family: $font-family-base;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
    }

    &__text {
        font-size: 1rem;
        margin-bottom: 2.5rem;
    }

    &__image-size {
        width: 100%;
        margin: 0 auto;
    }
}