@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

//-------- TYPOGRAPHY -------- //
$font-family-base:'Inter', sans-serif;
$font-size-base: 1.6rem;
$font-weight-bold: 800;
$font-weight-medium: 700;


$font-size-assigment: 0.9rem;
$font-size-description: 0.9rem;
// $font-size-subscription: 1rem;
$font-size-score: 2rem;
$font-size-introduction: 1.1rem;

//-------- COLOR -------- //
$color-dark-blue: #101228;
$color-light-blue: #2b50ec;
$color-white: white;
$color-gray: #747474;
$color-orange:#FF7D00;
$color-green: #1f835f;
$color-red: red;

$color-light-dark-blue: #111E55;

//-------- MARGINS -------- //
